// background-color
$bg_black: #0B0B0B;
$bg_red: #690102;

// text-color
$text_white: #FFFFFF;
$text_black: #0B0B0B;
$text_red: #B70021;

// fonts
$roboto: 'Roboto', sans-serif;
$roboto_con: 'Roboto Condensed', sans-serif;